#customize-controls .control-section-upgrade-button .accordion-section-title:hover,
#customize-controls .control-section-upgrade-button .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-upgrade-button .accordion-section-title .button:hover,
.control-section-upgrade-button .accordion-section-title .button:focus {
	background: none #449d44;
	border-color: #398439;
	box-shadow: none;
	color: #fff;
}

.control-section-upgrade-button .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background: none #5cb85c;
	border-color: #4cae4c;
	box-shadow: none;
	color: #fff;
}

.control-section-upgrade-button .accordion-section-title {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

.rtl .control-section-upgrade-button .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}